/* Contenedor principal usando flexbox */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  position: relative;
  overflow-y: scroll;
  margin-top: 70px;
}

.pdf-loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  flex-direction: column;
  gap: 1rem;
}

.custom-switch-container .form-check-input {
  cursor: pointer;
}

/* Evitar que una sección se divida entre páginas */
.avoid-page-break {
  page-break-inside: avoid;
  break-inside: avoid;
}
